<div class="flex flex-column">

    <nav class="relative pa3 pa4-ns">
        <a class="link underline-hover black b f6 f5-ns dib mr3" href="#" title="Home">Me</a> — Photos
    </nav>

	{{outlet}}

</div>