<section class="mw5 mw7-ns pa3 ph5-ns">
    <p class="lh-copy measure">
        Vish is a Developer from Bangalore, India, living and working in Chennai, India.
    </p>

    <p class="lh-copy measure">
        Amongst thousands of photos, it's easy to lose track of my favorites. This little website serves as a home for
        the photos I adore the most
    </p>

</section>

<div class="list pa3 pa5-ns nowrap">
	{{#each countries as |country|}}
        <li class="dib mr2"><a href="#" class="f4 f2-ns b db pa2 link dim mid-gray">{{country}}</a></li>
	{{/each}}
</div>

